USE [master]
GO
/****** Object:  Database [самокаты]    Script Date: 28.05.2024 16:08:59 ******/
CREATE DATABASE [самокаты]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'самокаты', FILENAME = N'C:\Users\0_206_16\самокаты.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'самокаты_log', FILENAME = N'C:\Users\0_206_16\самокаты_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [самокаты].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [самокаты]
GO
/****** Object:  Table [dbo].[ElectricScooters]    Script Date: 28.05.2024 16:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectricScooters](
	[scooter_id] [int] NOT NULL,
	[photo] [image] NULL,
	[scooter_name] [varchar](50) NOT NULL,
	[manufacturer_description] [varchar](100) NOT NULL,
	[rental_price_hour] [decimal](10, 2) NOT NULL,
	[rental_price_day] [decimal](10, 2) NOT NULL,
	[available_units] [int] NOT NULL,
	[rented_units] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[scooter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalLocations]    Script Date: 28.05.2024 16:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalLocations](
	[location_id] [int] NOT NULL,
	[location_name] [varchar](50) NOT NULL,
	[address] [varchar](100) NOT NULL,
	[phone_number] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
